* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: lightpink;
    color: white;
}

header {
    background-color: palevioletred;
    padding: 20px;
    margin: 10px;
    text-align: center;
}

header h1 {
font-size: 40px;

}
nav {
    background-color: rgb(245, 137, 255);
    padding: 1.5rem;
}

nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
}

nav ul li {
    margin: 0 1rem;

}

nav ul li a {
    text-decoration: none;
    color: black;
    font-weight: 800;
    border-radius: 4px;
    padding: 16px;
    transition: background-color 0.3s;
}

nav ul li a:hover {
   background-color: rgb(158, 240, 208);

}
main {
    flex: 1;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    width: 100%;
}

section {
    background-color: rgb(250, 163, 246);
    border-radius: 10px;
    padding: 1rem;
    margin-bottom: 24px;
    box-shadow: 0.2px 10px rgb(241, 0, 209);
}

section h2 {
    color: rgb(255, 255, 255);
    margin-bottom: 1rem;
    padding-bottom: 0.5rem;
    border-bottom: 2px solid rgb(253, 253, 253);
}

section {
    color: rgb(0, 0, 0);
}

footer {
    background-color: brown;
    color: azure;
    text-align: center;
    padding: 1.5;
}

footer p {
    margin-bottom: 10px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    width: 100px;
    height: 100px;
    margin-left: 200px;
    border-radius: 50%;
}

.site-titie {
    margin-right: 200px;
    text-align: right;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
}

.footer-menu a {
    text-decoration: none;
    color: black;
    padding: 20px;
    transition: background-color 0.3s;
    border-radius: 50px;
}

.footer-menu a:haver {
    background-color: aqua;
}

.footer-credit {
    margin-left: 100px;
}

tbody tr td {
    padding: 10;
    text-align: center;
    vertical-align: middle;
}

tbody tr td img {
    width: 200px;
    height: 100px;
}

